<!DOCTYPE html> <!-- forcing standards mode. p.s. Jinja temp. engine cannot handle comments outside here -->
<html>
    <head>
        {% if title %}
        <title>{{ title }} - flori5t.dev</title>
        {% else %}
        <title>Welcome to flori5t.dev!</title>
        {% endif %} 
    </head>
    <body>
        <div>
            flori5t.dev :  
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Log-in</a>
        
        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content%}{% endblock %}
    </body>
</html>
