<!DOCTYPE html> <!-- forcing standards mode. p.s. Jinja temp. engine cannot handle comments outside here -->
<html>
    <head>
        {% if title %}
        <title>{{ title }} - flori993.dev</title>
        {% else %}
        <title>Welcome to flori993.dev!</title>
        {% endif %} 
    </head>
    <body>
        <div>
            flori993.dev :  
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content%}{% endblock %}
    </body>
</html>
