{% extends "base.html" %}

{% block content %}
    <h1>Sign in</h1>
    <form action="" method="post" novalidate> <!--When the action is set to an empty string the form is submitted to the URL that is currently in the address bar, which is the URL that rendered the form on the page. 
                                                Novalidate is a flag that tells web browser to not apply validation to the fields in this form, which effectively leaves this task to the Flask application running in the server. -->
    {{ form.hidden_tag() }} <!-- This argument generates a hidden field that includes a token that is used to protect the form against CSRF attacks, so as long as SECRET_KEY variable defined in the Flask configuration - Flask-WTF does the rest. -->
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %} <!-- render some feedback to user if something's wrong -->
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form .password(size=32) }}<br>
        {% for error in form.password.errors %} <!-- render some feedback to user if something's wrong -->
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
